/Prova01/Exercicio02-05/nbproject/private/
/Semana (E-aula)/InverteVetor/nbproject/private/
/Revisão/SistemaBancoSemana2/nbproject/private/
/Revisão/SistemaBancoSemana2/build/
/Revisão/Aula06bControleRemoto/nbproject/private/
/Revisão/Questao05Prova21/nbproject/private/
/Revisão/Questao05Prova21/build/
/.metadata/
